.layout {
  display: flex;
  background-color: var(--app-simple-white-color);
  height: 100vh;
  min-height: 100vh !important;
}

.layout-navigation {
  display: flex;
  flex-direction: column;
  background-color: #212529;
  width: 350px;
}

.layout-component {
  width: 100%;
  overflow-y: scroll;
}

.layout-navigation a {
  text-decoration: none;
  color: var(--app-gray-white);
}

.nav-logo {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.active {
  color: var(--app-yellow-color) !important;
}

.nav-menu {
  display: flex;
  padding: 0 15px;
  align-items: center;
}

.nav-menu-list {
  padding: 10px 0;
}

.nav-menu img {
  width: 30px;
  height: 30px;
  image-rendering: -webkit-optimize-contrast;
}

.nav-menu p {
  font-weight: bold;
  margin-left: 15px;
  color: var(--app-white);
}

.nav-menu-text {
  color: var(--app-text-gray);
  padding-left: 15px;
  margin-bottom: 10px;
}

.user-menu {
  margin: 0 25px;
}

.user-menu-dropdown {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  /* border-radius: 10px; */
  padding: 5px;
}

.user-menu-dropdown img {
  margin: 0 10px;
}

.user-menu-dropdown-profile-img {
  width: 45px;
  height: 40px;
  border-radius: 10px;
}

.user-menu-dropdown-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.user-menu-dropdown-profile p {
  font-weight: bolder;
  margin: 0;
}

.nav-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.nav-copyright-container {
  margin: 0 9px;
}

.nav-copyright-container p {
  color: var(--app-simple-white-color);
  font-size: 10px;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: var(--app-white);
  height: 45px;
  width: 300px;
  padding: 10px;
  /* border-radius: 10px; */
}

.search-container input {
  border: none;
  margin-left: 5px;
}

.search-container input:focus {
  outline: none;
}

.search-container input::placeholder {
  color: var(--app-blue-color);
}

.add-btn {
  border: none;
  background-color: #1c9c38;
  /* border-radius: 10px; */
  color: var(--app-white);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 145px;
  height: 45px;
}

.page-not-found-main {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  align-items: center;
}
